/* stylesheet.css //

// Codefellows-201 March 2016
// JMaas Week1-day-4 Thursday Lab Assignment:
*/

body {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
}

.quizz {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

#gameLink {
    border-width: 2px;
    border-color: black;
}
